@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mulish:ital,wght@1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200;1,300&display=swap');
}

.navigation {

	margin-top: 5px;
	margin-left: 3px;


}

a{
	padding: 8px;
	color:#7d88c9 ;
	text-decoration: none;		
	border: 1px solid #c4c0c0;
	border-radius: 5px;
	display:inline-block;
}




* {
	font-family: 'Mulish', sans-serif;

}
