@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mulish:ital,wght@1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200;1,300&display=swap');
}

.navigation {

	margin-top: 5px;
	margin-left: 3px;


}

.dark-theme a{
	padding: 8px;
	color:white ;
	text-decoration: none;		
	border: 1px solid #c4c0c0;
	border-radius: 5px;
	display:inline-block;
}


.light-theme a{
	padding: 8px;
	color:black ;
	text-decoration: none;		
	border: 1px solid #c4c0c0;
	border-radius: 5px;
	display:inline-block;
}


.light-theme {

}

.dark-theme {
	background-color: #505259;
	color: white;

}


.light-theme .theme-button {
	color: black;
	background-color: white;
	border: 1px black solid;
	border-radius: 4px;
}

.dark-theme .theme-button {
	color: white;
	background-color: #778899;
	border-radius: 4px;
	border: 1px black solid;
}

.theme-button {
  color: #6653d9;
  float:right;
  margin-right:10px;
  padding:8px;

}

* {
	font-family: 'Mulish', sans-serif;

}
